{% extends 'base.html' %} 
{% load static %} 

{% block content %}


<section class="wrapper bg-light mt--1">
    <div>
      <div class="card bg-soft-primary mt--1 mb-12 mb-md-18 rounded-0">
        <div class="card-body p-md-10 py-xl-11 px-xl-15">
          <div class="row gx-lg-8 gx-xl-0 gy-10 align-items-center justify-content-center">
            
            <!--/column -->
            <div
              class="col-lg-8 col-12 col-xl-8 text-center "
              data-cues="slideInDown"
              data-group="page-title"
              data-delay="600"
            >
              <h1 class="display-2 mb-5">
                Use automations, and save your time.
              </h1>
              <p class="lead fs-lg lh-sm mb-7 pe-xl-10">
                Use automation workflows, and artificial intelligence to take your
                content strategy up a notch.
              </p>

            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.card-body -->
      </div>
      <!--/.card -->
    </div>
  </section>


<section class="wrapper bg-light wrapper-border">
    <div class="container py-14 py-md-16">
      <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-18 align-items-center">
        <div class="col-lg-6 position-relative">
          <div class="shape bg-line leaf rounded-circle rellax w-17 h-17" data-rellax-speed="1" style="top: -2rem; right: -0.6rem; transform: translate3d(0px, -40px, 0px);"></div>
          <div class="shape bg-pale-violet rounded-circle rellax w-17 h-17" data-rellax-speed="1" style="bottom: -2rem; left: -0.4rem; transform: translate3d(0px, 2px, 0px);"></div>
          <figure class="rounded mb-0"><img src="img/photos/se3.jpg" srcset="img/photos/se3@2x.jpg 2x" alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6">
          <h3 class="display-4 mb-4">Package Design</h3>
          <p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius.</p>
          <div class="row gy-3">
            <div class="col-xl-6">
              <ul class="icon-list bullet-bg bullet-soft-leaf mb-0">
                <li><span><i class="uil uil-check"></i></span><span>Aenean quam ornare curabitur blandit consectetur.</span></li>
                <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Nullam quis risus eget urna mollis ornare aenean leo.</span></li>
              </ul>
            </div>
            <!--/column -->
            <div class="col-xl-6">
              <ul class="icon-list bullet-bg bullet-soft-leaf mb-0">
                <li><span><i class="uil uil-check"></i></span><span>Etiam porta euismod malesuada mollis nisl ornare sem.</span></li>
                <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Vivamus sagittis lacus augue rutrum maecenas.</span></li>
              </ul>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->

        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
        <div class="col-lg-6 order-lg-2 position-relative">
          <div class="shape bg-line aqua rounded-circle rellax w-17 h-17" data-rellax-speed="1" style="top: -2rem; left: -0.6rem; transform: translate3d(0px, 27px, 0px);"></div>
          <div class="shape bg-pale-red rounded-circle rellax w-17 h-17" data-rellax-speed="1" style="bottom: -2rem; right: -0.4rem; transform: translate3d(0px, 70px, 0px);"></div>
          <figure class="rounded mb-0"><img src="img/photos/se4.jpg" srcset="img/photos/se4@2x.jpg 2x" alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6">
          <h3 class="display-4 mb-4">Corporate Design</h3>
          <p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <div class="row gy-3">
            <div class="col-xl-6">
              <ul class="icon-list bullet-bg bullet-soft-aqua mb-0">
                <li><span><i class="uil uil-check"></i></span><span>Aenean quam ornare curabitur blandit consectetur.</span></li>
                <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Nullam quis risus eget urna mollis ornare aenean leo.</span></li>
              </ul>
            </div>
            <!--/column -->
            <div class="col-xl-6">
              <ul class="icon-list bullet-bg bullet-soft-aqua mb-0">
                <li><span><i class="uil uil-check"></i></span><span>Etiam porta euismod malesuada mollis nisl ornare sem.</span></li>
                <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Vivamus sagittis lacus augue rutrum maecenas.</span></li>
              </ul>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->

        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>




  <section class="wrapper bg-light wrapper-border">
    <div class="container py-14 py-md-16">
      <div class="row gx-lg-0 gy-10 align-items-center">
        <div class="col-lg-6">
          <div class="row g-6 text-center">
            <div class="col-md-6">
              <div class="row">
                <div class="col-lg-12">
                  <figure class="rounded mb-6"><img src="img/photos/se1.jpg" srcset="img/photos/se1@2x.jpg 2x" alt=""></figure>
                </div>
                <!-- /column -->
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-3"> <i class="uil uil-monitor"></i> </div>
                      <h4>Web Design</h4>
                      <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida.</p>
                      <a href="#" class="more hover link-primary">Learn More</a>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.card -->
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /column -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-lg-12 order-md-2">
                  <figure class="rounded mb-6 mb-md-0"><img src="img/photos/se2.jpg" srcset="img/photos/se2@2x.jpg 2x" alt=""></figure>
                </div>
                <!-- /column -->
                <div class="col-lg-12">
                  <div class="card mb-md-6 mt-lg-6">
                    <div class="card-body">
                      <div class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-3"> <i class="uil uil-mobile-android"></i> </div>
                      <h4>Mobile Design</h4>
                      <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida.</p>
                      <a href="#" class="more hover link-primary">Learn More</a>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.card -->
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /column -->
        <div class="col-lg-5 offset-lg-1">
          <h2 class="display-4 mb-3">What We Do?</h2>
          <p class="lead fs-lg">The full service we are offering is specifically designed to meet your business needs.</p>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis elit interdum. Duis mollis, est non commodo luctus, nisi erat ligula. </p>

        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>


  <section class="wrapper bg-light wrapper-border">
    <div class="container py-14 py-md-16">
      <div class="row gy-10 gx-lg-8 gx-xl-12 align-items-center">
        <div class="col-lg-7 position-relative">
          <div class="shape bg-dot primary rellax w-18 h-18" data-rellax-speed="1" style="top: 0; left: -1.4rem; z-index: 0;"></div>
          <div class="row gx-md-5 gy-5">
            <div class="col-md-6">
              <figure class="rounded mt-md-10 position-relative"><img src="img/photos/g5.jpg" srcset="img/photos/g5@2x.jpg 2x" alt=""></figure>
            </div>
            <!--/column -->
            <div class="col-md-6">
              <div class="row gx-md-5 gy-5">
                <div class="col-md-12 order-md-2">
                  <figure class="rounded"><img src="img/photos/g6.jpg" srcset="img/photos/g6@2x.jpg 2x" alt=""></figure>
                </div>
                <!--/column -->
                <div class="col-md-10">
                  <div class="card bg-pale-primary text-center counter-wrapper">
                    <div class="card-body py-11">
                      <h3 class="counter text-nowrap">5000+</h3>
                      <p class="mb-0">Satisfied Customers</p>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.card -->
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
        <div class="col-lg-5">
          <h2 class="display-4 mb-3">Get a free demo</h2>
          <p class="lead fs-lg">Let's make something great together. We are <span class="underline">trusted by</span> over 5000+ clients. Join them by using our services and grow your business.</p>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <a href="https://calendly.com/neusler/30min" class="btn btn-primary  mt-2">Schedule a demo</a>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>
  {% endblock %}