{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
  <title>{% if seo_title %}{{ seo_title }}{% else %}{{ default_title }}{% endif %}</title>
  <link rel="stylesheet" href="{% static 'css/bundle.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/line-awesome@1.3.0/dist/line-awesome/css/line-awesome.min.css">

  {% block meta_tags %}
  <meta name="title" content="{% if seo_title %}{{ seo_title }}{% else %}{{ default_title }}{% endif %}">
  <meta name="description" content="{% if seo_desc %}{{ seo_desc }}{% else %}{{ default_desc }}{% endif %}">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.neusler.com{{request.get_full_path}}">
  <meta property="og:title" content="{% if seo_title %}{{ seo_title }}{% else %}{{ default_title }}{% endif %}">
  <meta property="og:description" content="{% if seo_desc %}{{ seo_desc }}{% else %}{{ default_desc }}{% endif %}">
  <meta property="og:image" content="https://www.neusler.com{% if seo_image %}{% static seo_image %}{% else %}{% static 'images/neusler-content-pub_md.jpg' %}{% endif %}">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.neusler.com{{request.get_full_path}}">
  <meta property="twitter:title" content="{% if seo_title %}{{ seo_title }}{% else %}{{ default_title }}{% endif %}">
  <meta property="twitter:description" content="{% if seo_desc %}{{ seo_desc }}{% else %}{{ default_desc }}{% endif %}">
  <meta property="twitter:image" content="https://www.neusler.com{% if seo_image %}{% static seo_image %}{% else %}{% static 'images/neusler-content-pub_md.jpg' %}{% endif %}">
  {% endblock %}

  {% block extra_head %}{% endblock %}
  {% include 'includes/tracking.html' %}

</head>


<body>
  <div class="content-wrapper">
    {% include 'includes/header.html' %}
    
    {% block content %}{% endblock %}

  </div>
  {% include 'includes/footer.html' %}

  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>

  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>

  <!-- <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script> -->

  <script defer src="{% static 'js/bundle.js' %}"></script>
  {% block extra_js %}{% endblock %}
  <script defer type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="fb65e547-5f43-4345-b2fe-e48bee5604a0";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>

</html>
