{% extends 'base.html' %}

{% load static %}

{% block extra_head %}

{% endblock %}

{% block content %}
<section class="wrapper bg-light mt-3">
  <div class="container">
    <div class="card bg-soft-primary rounded-4 mt-2 mb-13 mb-md-17">
      <div class="card-body p-md-10 py-xl-11 px-xl-15">
        <div class="row gx-lg-8 gx-xl-0 gy-10 align-items-center">
          <div class="col-lg-6 order-lg-2 d-flex position-relative">

            <img class="img-fluid ms-auto mx-auto me-lg-8" src="{% static 'images/pages/publishing-2.svg' %}" srcset="% static 'images/pages/publishing-2.svg' %} 2x" alt="" data-cue="fadeIn">

          </div>
          <!--/column -->
          <div class="col-lg-6 text-center text-lg-start" data-cues="slideInDown" data-group="page-title" data-delay="600">
            <h1 class="display-2 mb-5">Content publishing that leverages modern technology.</h1>
            <p class="lead fs-lg lh-sm mb-7 pe-xl-10">Use automation workflows, and artificial intelligence to take your content strategy up a notch.</p>
            <div class="d-flex justify-content-center justify-content-lg-start" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
              <span><a href="#features" class="btn btn-lg btn-primary rounded me-2">Explore</a></span>
              <span><a href="#" class="btn btn-lg btn-link text-primary fw-bold rounded">Schedule a demo &raquo;</a></span>
            </div>
            <div class='my-3'>
              <p class='muted small'>We are currently in closed beta.</p>
            </div>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.card-body -->
    </div>
    <!--/.card -->

    <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-18 align-items-center">
      <div class="col-md-8 col-lg-6 position-relative" id='features'>
        <div class="shape bg-soft-primary rounded-circle rellax w-20 h-20" data-rellax-speed="1" style="top: -2rem; left: -1.9rem;"></div>
        <figure class="rounded"><img src="{% static 'images/pages/workflow.svg' %}" srcset="{% static 'images/pages/workflow.svg' %} 2x" alt=""></figure>
      </div>
      
      <div class="col-lg-6">
        <h2 class="display-4 mb-3">Configurable Workflows and Automations</h2>
        <p class="lead fs-lg">Design multi-level workflows that fit your organization. Automate social media posts and push notifications.</p>
        <p class="mb-6">Neusler helps in sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>


      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-20 align-items-center">
      <div class="col-md-8 col-lg-6 order-lg-2 position-relative">
        <div class="shape bg-soft-primary rounded-circle rellax w-20 h-20" data-rellax-speed="1" style="top: -2rem; right: -1.9rem;"></div>
        <figure class="rounded"><img src="{% static 'images/pages/ai-2.svg' %}" srcset="{% static 'images/pages/ai-2.svg' %} 2x" alt=""></figure>

      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-4 mb-3">Use the power of AI</h2>
        <p class="lead fs-lg">Use the power of <span class="underline">artificial intelligence</span> to power your processes and content distribution.</p>
        <p class="mb-6">Neusler helps in sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

      </div>

    </div>



    <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-18 align-items-center">
      <div class="col-md-8 col-lg-6 position-relative">
        <div class="shape bg-soft-primary rounded-circle rellax w-20 h-20" data-rellax-speed="1" style="top: -2rem; left: -1.9rem;"></div>
        <figure class="rounded"><img src="{% static 'images/pages/engage.svg' %}" srcset="{% static 'images/pages/engage.svg' %} 2x" alt=""></figure>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-4 mb-3">Engage with your readers</h2>
        <p class="lead fs-lg">Modern content is not just a broadcast. It is interactive, and pulls the reader in to co-create with you. <span class="underline">Improve engagement</span> with interactive elements, forums and events.</p>
        <p class="mb-6">Neusler helps in sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      </div>

    </div>


    <div class="card bg-soft-primary rounded-4">
      <div class="card-body p-md-10 p-xl-11">
        <div class="row gx-lg-8 gx-xl-12 gy-10">
          <div class="col-lg-6">
            <h3 class="display-4 mb-4">Frequently Asked Questions</h3>
            <p class="lead fs-lg mb-0">If you don't see an answer to your question, you can send us an email to info@neumeral.com.</p>
          </div>
          <!--/column -->
          <div class="col-lg-6">
            <div class="accordion accordion-wrapper" id="accordionExample">
              <div class="card plain accordion-item">
                <div class="card-header" id="headingOne">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How do I see if Neusler is a good fit for me?</button>
                </div>
                <!--/.card-header -->
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Signup for a demo, and we will get back to you with credentials to login to a demo instance.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingTwo">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Do you a offer a cloud hosted managed version?</button>
                </div>
                <!--/.card-header -->
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>No, currently, we do not offer a hosted solution. We can build and customize Neusler to your needs and deploy it in your infrastructure, with periodic maintenance plans.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingThree">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How much does this cost?</button>
                </div>
                <!--/.card-header -->
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Currently we don't offer a fully managed, hosted solution. For individual deployments, please get in touch with us to get a quote.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>

              <!--/.accordion-item -->
            </div>
            <!--/.accordion -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.card-body -->
    </div>
    <!--/.card -->
  </div>
  <!-- /.container -->
</section>
{% endblock %}
