{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<section class="wrapper bg-soft-primary wrapper-border">
    <div class="container py-14 py-md-16 text-center">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <h2 class="fs-15 text-uppercase text-muted mb-3">Product</h2>
          <h3 class="display-4 mb-10 px-xl-10"><span class="underline text-primary">neusler</span> is a publishing platform with a focus on reader experience and improving engagement.</h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <div class="position-relative">
        <div class="shape rounded-circle bg-soft-blue rellax w-16 h-16" data-rellax-speed="1" style="bottom: -0.5rem; right: -2.2rem; z-index: 0; transform: translate3d(0px, 45px, 0px);"></div>
        <div class="shape bg-dot yellow rellax w-16 h-17" data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem; z-index: 0; transform: translate3d(0px, 14px, 0px);"></div>
        <div class="row gx-md-5 gy-5 text-center justify-content-center">


          <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <div class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-3"> <i class="las la-pen-fancy"></i> </div>
                <h4>Intuitive Interface</h4>
                <p class="mb-2">Mix and match content types and embed data within your articles and posts.</p>

              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!--/column -->
          <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <div class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-3"> <i class="las la-cogs"></i> </div>
                <h4>Automations</h4>
                <p class="mb-2">Autopost to connected social channels, and integrate with other tools in your ecosystem.</p>

              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!--/column -->
          <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <div class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-3"> <i class="las la-bullhorn"></i> </div>
                <h4>Improve Engagement</h4>
                <p class="mb-2">Use interactive elements to make readers participate with you, rather than being just a broadcast.</p>

              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.position-relative -->
    </div>
    <!-- /.container -->
  </section>


  <section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <div class="row mt-6">
        <div class="col-xl-10 mx-auto">
          <div class="grid grid-view projects-tiles show-more showMoreItemsList" data-showstart="3" data-showafter="3">
            <div class="project light-gallery-wrapper" style="">
              <div class="row g-6 isotope" style="position: relative; height: 810.547px;">
                <div class="item col-md-6" style="position: absolute; left: 0%; top: 0px;">
                  <div class="project-details d-flex justify-content-center flex-column">
                    <div class="post-header">
                      <div class="post-category text-orange mb-3">Product</div>
                      <h2 class="post-title mb-3">Publishing Workflows</h2>
                    </div>
                    <!-- /.post-header -->
                    <div class="post-content">
                      <p>Clutter-free interface with configurable workflows. Built on <span class="underline">wagtail</span> &mdash; get the goodness of streamfield to manage mixed content types.</p>
                      <a href="/product/publishing" class="more hover link-orange">Learn more</a>
                    </div>
                    <!-- /.post-content -->
                  </div>
                  <!-- /.project-details -->
                </div>
                <!-- /.item -->
                <div class="item col-md-6" style="position: absolute; left: 50%; top: 0px;">
                  <figure class="itooltip itooltip-light border border-primary border-2 hover-scale rounded" title="<h5 class=&quot;mb-0&quot;>Publishing and review workflows</h5>">
                    <img src="{% static 'images/pages/publishing.jpg' %}" alt="">
                    <div class="caption1 d-none">
                      <h5>Publishing and review workflows</h5>
                    </div>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6" style="position: absolute; left: 0%; top: 280.453px;">
                  <figure class="itooltip itooltip-light border border-primary border-2 hover-scale rounded" title="<h5 class=&quot;mb-0&quot;>Multiple content types</h5>">
                    <img src="{% static 'images/pages/contenttypes.jpg' %}" alt="">
                    <div class="caption2 d-none">
                      <h5>Use various content types in your articles</h5>
                    </div>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6" style="position: absolute; left: 50%; top: 425.547px;">
                  <figure class="itooltip itooltip-light border border-primary border-2 hover-scale rounded" title="<h5 class=&quot;mb-0&quot;>Easy Publishing</h5>"> 
                    <img src="{% static 'images/pages/publishing-2.svg' %}" alt="">
                    <div class="caption3 d-none">
                      <h5>Easy Publishing</h5>
                    </div>
                  </figure>
                </div>
                <!-- /.item -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.project -->
            <div class="project light-gallery-wrapper" style="">
              <div class="row g-6 isotope" style="position: relative; height: 752.218px;">
                <div class="item col-md-6" style="position: absolute; left: 0%; top: 0px;">
                  <div class="project-details d-flex justify-content-center flex-column">
                    <div class="post-header">
                      <div class="post-category text-green mb-3">Product</div>
                      <h2 class="post-title mb-3">Automations</h2>
                    </div>
                    <!-- /.post-header -->
                    <div class="post-content">
                      <p>Automations and integrations to keep your team productive - save hours and focus on creating good content.</p>
                      <a href="/product/automate" class="more hover link-green">Learn more</a>
                    </div>
                    <!-- /.post-content -->
                  </div>
                  <!-- /.project-details -->
                </div>
                <!-- /.item -->
                <div class="item col-md-6" style="position: absolute; left: 50%; top: 0px;">
                  <figure class="itooltip itooltip-light border border-primary border-2 hover-scale rounded" title="<h5 class=&quot;mb-0&quot;>Cross post to connected social channels</h5>">
                    <img src="{% static 'images/pages/social.jpg' %}" alt="">
                    <div class="caption1 d-none">
                      <h5>Cross post to connected social channels</h5>
                    </div>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6" style="position: absolute; left: 0%; top: 280.453px;">
                  <figure class="itooltip itooltip-light border border-primary border-2 hover-scale rounded" title="<h5 class=&quot;mb-0&quot;>Integrate with your favourite tools</h5>">
                    <img src="{% static 'images/pages/integrations.jpg' %}" alt="">
                    <div class="caption2 d-none">
                      <h5>Integrate with your favourite tools</h5>
                    </div>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6" style="position: absolute; left: 50%; top: 376.109px;">
                  <figure class="itooltip itooltip-light border border-primary border-2 hover-scale rounded" title="<h5 class=&quot;mb-0&quot;>Automate, and improve productivity</h5>">
                    <img src="{% static 'images/pages/automations.svg' %}" alt="">
                    <div class="caption3 d-none">
                      <h5>Automate, and improve productivity</h5>
                    </div>
                  </figure>
                </div>
                <!-- /.item -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.project -->
            <div class="project light-gallery-wrapper" style="">
              <div class="row g-6 isotope" style="position: relative; height: 669.625px;">
                <div class="item col-md-6" style="position: absolute; left: 0%; top: 0px;">
                  <div class="project-details d-flex justify-content-center flex-column">
                    <div class="post-header">
                      <div class="post-category text-orange mb-3">Product</div>
                      <h2 class="post-title mb-3">Engage with your audience</h2>
                    </div>
                    <!-- /.post-header -->
                    <div class="post-content">
                      <p>Embed interactive blocks within your content, to give a unique experience to your readers, and improve retention.</p>
                      <a href="/product/engage" class="more hover link-orange">Learn more</a>
                    </div>
                    <!-- /.post-content -->
                  </div>
                  <!-- /.project-details -->
                </div>
                <!-- /.item -->
                <div class="item col-md-6" style="position: absolute; left: 50%; top: 0px;">
                  <figure class="itooltip itooltip-light border border-primary border-2 hover-scale rounded" title="<h5 class=&quot;mb-0&quot;>Engage with interactive elements</h5>">
                    <img src="{% static 'images/pages/engage.jpg' %}" alt="">
                    <div class="caption1 d-none">
                      <h5>Engage with interactive elements</h5>
                    </div>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6" style="position: absolute; left: 0%; top: 280.453px;">
                  <figure class="itooltip itooltip-light border border-primary border-2 hover-scale rounded" title="<h5 class=&quot;mb-0&quot;>Add AMP enabled web stories</h5>">
                    <img src="{% static 'images/pages/webstory.jpg' %}" alt="">
                    <div class="caption2 d-none">
                      <h5>Add AMP enabled web stories</h5>
                    </div>
                  </figure>
                </div>
                <!-- /.item -->
                <div class="item col-md-6" style="position: absolute; left: 50%; top: 326.656px;">
                  <figure class="itooltip itooltip-light border border-primary border-2 hover-scale rounded" title="<h5 class=&quot;mb-0&quot;>Engage with your readers</h5>">
                    <img src="{% static 'images/pages/engage.svg' %}" height=alt="">
                    <div class="caption3 d-none">
                      <h5>Engage with your readers</h5>
                    </div>
                  </figure>
                </div>
                <!-- /.item -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.project -->
            
          </div>
          <!-- /.projects-tiles -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

{% endblock %}