{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<section>
    <div class="container pt-8 pb-4">
    <div class="row gx-lg-8 gy-8 mt-5 mt-md-12 mt-lg-0 mb-15 align-items-center justify-content-center">
        
        <!--/column -->
        <div class="col-lg-6 ">
            <div class="text-center">
          <h2 class="display-4 mb-3">We <i class="text-red uil uil-heart"></i> open source.</h2>
          <p class="lead fs-lg mb-8 pe-xxl-2">We believe in opensource. The core of <span class='underline text-primary fw-bold'>neusler</span> is opensource; and we use a lot of opensource tools and frameworks. This is how we give back to the community!</p>
          </div>
          <div class="row gx-xl-10 gy-6">
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="d-flex flex-row">
                <div>
                  <div class="icon btn btn-circle btn-lg btn-soft-primary disabled me-5"> <i class="uil uil-list-ul"></i> </div>
                </div>
                <div>
                  <h4 class="mb-1">Checklists</h4>
                  <p class="mb-0">Checklists, and notion templates. Lift up your content game!</p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="d-flex flex-row">
                <div>
                  <div class="icon btn btn-circle btn-lg btn-soft-primary disabled me-5"> <i class="uil uil-tv-retro"></i> </div>
                </div>
                <div>
                  <h4 class="mb-1">Themes & Blocks</h4>
                  <p class="mb-0">Themes and blocks that you can use in any web platform.</p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="d-flex flex-row">
                <div>
                  <div class="icon btn btn-circle btn-lg btn-soft-primary disabled me-5"> <i class="uil uil-book"></i> </div>
                </div>
                <div>
                  <h4 class="mb-1">Content Library</h4>
                  <p class="mb-0">Learn from case studies, strategies, whitepapers et al. </p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="d-flex flex-row">
                <div>
                  <div class="icon btn btn-circle btn-lg btn-soft-primary disabled me-5"> <i class="uil uil-jackhammer"></i> </div>
                </div>
                <div>
                  <h4 class="mb-1">Web Apps & Tools</h4>
                  <p class="mb-0">Free tools and apps to help you in your content journey.</p>
                </div>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
    </div>
</section>


<section class="wrapper bg-light ">
<div class="container pt-8 pb-4">
    <div class="card bg-soft-leaf mb-10">
    <div class="card-body p-12 pb-0">
        <div class="row">
        <div class="col-lg-4 pb-12 align-self-center">
            <div class="post-category mb-3 text-violet">coming soon</div>
            <h3 class="h1 post-title mb-3">Block and Tackle</h3>
            <p>A set of ui blocks that you can use in your favourite content tools. </p><p>Made with Bootstrap 5.</p>
            <a href="#" class="more hover link-violet">Get it</a>
        </div>
        <!-- /column -->
        <div class="col-lg-7 offset-lg-1 align-self-end">
            <figure>
              <img src="{% static 'images/pages/block-tackle.jpg' %}"  class='rounded-top' alt="Block & Tackle HTML blocks" loading="lazy" />
            </figure>
        </div>
        <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!--/.card-body -->
    </div>


</div>
<!-- /.container -->
</section>

{% endblock %}
