{% load static %}

<header class="wrapper bg-white shadow-sm">
  <nav class="navbar center-nav pt-0 transparent navbar-expand-lg navbar-light">
  <div class="container flex-lg-row flex-nowrap align-items-center">
    <div class="navbar-brand w-100">
      <a href="/" class="d-flex align-items-center">
      <div>
        <img
            src="{% static 'images/logo_md.png' %}"
            height="32"
            srcset="{% static 'images/logo_md.png' %} 2x"
            alt="neusler logo"
        />
      </div>
      </a>
    </div>
    <div class="navbar-collapse offcanvas-nav customnav" style='color: dark; width:100%;'>
      <div class="offcanvas-header d-lg-none d-xl-none py-6">
        <a href="/">
          <div>
            <img
              src="{% static 'images/logo_md.png' %}"
              height="32"
              srcset="{% static 'images/logo_md.png' %} 2x"
              alt="neusler logo"
              class='align-middle'
              height='32px'
              style='max-height: 45px;'
            />
          </div>
        </a>
        <button type="button" class="btn-close bg-secondary btn-close-white my-2 p-4 rounded-circle-alt btn-close-dark offcanvas-close offcanvas-nav-close" aria-label="Close sidebar"></button>
      </div>


      <ul class="navbar-nav nav-end">
          <li class="nav-item dropdown" id="products-dropdown-menu">
            <a
              class="nav-link has-submenu"
              href="/product"
              aria-haspopup="true"
              aria-expanded="false"
              >Product <span class="sub-arrow"></span></a>
            <ul
              class="dropdown-menu bg-light p-0 shadow-lg"
              role="group"
              style='width: 98%'
              aria-hidden="true"
              aria-labelledby="products-dropdown-menu"
              aria-expanded="false"
            >
              

              <li class="nav-item">
                <a class="dropdown-item px-0" href="/product/publishing">
                  <div
                    class="d-flex flex-row bg-light py-2 px-4 "
                  >
                    <div class='dropdown-icon'>
                      <div class="icon text-primary fs-28 me-4 mt-n1">
                        <i class="las la-network-wired"></i>
                      </div>
                    </div>
                    <div>
                      <h5 class="mb-0">Publishing Workflows</h5>
                      <p class="subheading text-normal small my-1 pr-2">
                        Customizable workflows for publishing.
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              
              <li class="nav-item  bg-gray">
                <a class="dropdown-item px-0" href="/product/engage">
                  <div class="d-flex flex-row bg-gray py-2 px-4">
                    <div class='dropdown-icon'>
                      <div class="icon text-primary fs-28 me-4 mt-n1">
                        <i class="las la-bullhorn"></i>
                      </div>
                    </div>
                    <div>
                      <h5 class="mb-0">Engage</h5>
                      <p class="subheading text-normal small my-1 pr-2">
                        Elements to engage with your users
                      </p>
                    </div>
                  </div>
                </a>
              </li>


              <li class="nav-item">
                <a class="dropdown-item px-0" href="/product/automate">
                  <div
                    class="d-flex flex-row py-2 px-4 border-1"
                  >
                    <div class='dropdown-icon'>
                      <div class="icon text-primary fs-28 me-4 mt-n1">
                        <i class="las la-cogs"></i>
                      </div>
                    </div>
                    <div>
                      <h5 class="mb-0">Automations</h5>
                      <p class="subheading text-normal small my-1 pr-2">
                        Cross post to social channels.
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-item dropdown" id="Resources dropdown menu">
            <a
              class="nav-link has-submenu"
              href="#"
              aria-haspopup="true"
              aria-expanded="false"
              >Resources <span class="sub-arrow"></span
            ></a>
            <ul
              class="dropdown-menu bg-light shadow-lg px-0 py-0"
              role="group"
              style='width: 98%'
              aria-hidden="true"
              aria-labelledby="sm--3"
              aria-expanded="false"
            >
              <li class="nav-item">
                <a class="dropdown-item px-0" href="https://medium.com/neusler" target="_blank">
                  <div
                    class="d-flex flex-row bg-light py-2 px-4 "
                  >
                    <div class='dropdown-icon'>
                      <div class="icon text-primary fs-28 me-4 mt-n1">
                        <i class="las la-pen-fancy"></i>
                      </div>
                    </div>
                    <div>
                      <h5 class="mb-0">Blog</h5>
                      <p class="subheading text-normal small pr-2 my-1">
                        Get interesting content insights.
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item px-0" href="https://contentbites.substack.com" target="_blank">
                  <div class="d-flex flex-row bg-gray py-2 px-4">
                    <div class='dropdown-icon'>
                      <div class="icon text-primary fs-28 me-4 mt-n1">
                        <i class="las la-envelope-open"></i>
                      </div>
                    </div>
                    <div>
                      <h5 class="mb-0">Newsletter</h5>
                      <p class="subheading text-normal small my-1 pr-2">
                        Content Bites on Substack.
                      </p>
                    </div>
                  </div>

                </a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item px-0" href="/drops">
                  <div class="d-flex flex-row bg-light py-2 px-4">
                    <div class='dropdown-icon'>
                      <div class="icon text-primary fs-28 me-4 mt-n1">
                        <i class="las la-tools"></i>
                      </div>
                    </div>
                    <div>
                      <h5 class="mb-0">Use our tools</h5>
                      <p class="subheading text-normal small pr-2 my-1">
                        Nifty tools for content sites.
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link has-submenu"
              href="/pricing"
              id="sm--7"
              aria-haspopup="true"
              aria-controls="sm--8"
              aria-expanded="false"
              >Pricing</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link has-submenu"
              href="https://github.com/neumeral/neusler-lite/discussions"
              target="_blank"
              id="sm--7"
              aria-haspopup="true"
              aria-controls="sm--8"
              aria-expanded="false"
              >Community</a
            >
          </li>

          <!-- <li class="nav-item">
            <a
              class="nav-link text-blue"
              href="https://actionblok.neusler.com"
              id="sm--7"
              aria-haspopup="true"
              aria-controls="sm--8"
              aria-expanded="false"
              ><span class="text- my-0">&bullet; </span>Try ActionBloks</a
            >
          </li> -->

          <li class="nav-item d-lg-none ">
            <a
              class="nav-link has-submenu text-primary "
              href="https://calendly.com/neusler/discuss"
              id="sm--7"
              target="_blank"
              aria-haspopup="true"
              aria-controls="sm--8"
              aria-expanded="false"
              >Get Started <i class="la la-arrow-right"></i>
            </a>
          </li>
        </ul>

    </div>
    <!-- /.navbar-collapse -->
    <div class="navbar-other w-100 d-flex ms-auto">
      <ul class="navbar-nav flex-row align-items-center ms-auto px-3" data-sm-skip="true">
        <li class="nav-item d-none d-sm-block ">
            <a
              class="more hover nav-link has-submenu text-primary"
              href="https://calendly.com/neusler/discuss"
              id="sm--7"
              target="_blank"
              aria-haspopup="true"
              aria-controls="sm--8"
              aria-expanded="false"
              >Get Started</i>
            </a>
          </li>

        <li class="nav-item d-lg-none">
          <div class="navbar-hamburger">
            <button class="hamburger animate plain" aria-label="Menu" data-toggle="offcanvas-nav">
              <span></span>
            </button>
          </div>
        </li>
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-other -->
  </div>
  <!-- /.container -->
</nav>
  
</header>
